{
  "authHostname" : "auth.playstarbound.com",
  "checkAssetsDigest" : false,
  "rootKey" : "MIICCgKCAgEAuuxHOxa47eCix12TeI1KiDuSvu6Yculxl3yOzXDGG3OfS3A1sUioUy5wM8YZwoI0jpiVxsyZgsFZtzbO948H/v47I6YXwfGJ0ciw0RrHfxgPpeoTEEBOckWYJAFYWmF0xh5tN7RxMkVwFcGSFImgsA83h4xNvC9m+eiLs741sCfs36qD5Ka0ApI2RzeruKbGDZ/lBy/E/3HfLWOituTu37WZEbkFSruc0zu6aNAeEJB7vV4pun4BaEX7MtMzIokvGfzxRYJNlp6+T7McMAcNHQShkWx7cVd8TPzEUe7oafmrw0EM77Ja5PIil0w0Zr3Z1ITKI+G1zGSeAvjdO6N4hMUEthcT5H7YDuVZVb/pSPGAojIjh7lhoFZBI+2k9mOFMV+D6ysWbfScfaczRW9W6Gs5Kt/Gqa+iLGR6P4Xa9pOfjVz/mIW1HzYjPcjXqhC4rsiur1wlkqljowcK5dyufb79eeULUgq9j7g2lBDkEuvzm83plrwvSKKRFToB8D4nFW01c+HAbpNZdEW1r+J+NdV8Meoo4sB9+8wEfnQadS/eGEqNwh6CPVIXTubpzqgXiLCowFjRQ0O9m5GjrsnC8vGbNZOxvxp/gM6uhoYEVm2QvZPFRjsBiOEWi6/Z5YXs3fa2528JPBe/bGOb+QA8NUiyIFfPl/c4muFoR81yixkCAwEAAQ==",
  "allowAdminCommandsFromAnyone" : true,
  "fullscreen" : false,
  "maxFrameskip" : 5,
  "title.connectionString" : "",
  "username" : "",
  "renderPreSleepRemainder" : 4,
  "windowedResolution" : [ 1920, 590 ],
  "fullscreenResolution" : [ 1920, 1200 ],
  "maximizedResolution" : [ 1920, 1148 ],
  "controlPort" : 21026,
  "pixelRatioIdx" : 3,
  "zoomLevel" : 3,
  "upnpPortForwarding" : true,
  "gamePort" : 21025,
  "speechBubbles" : true,
  "clearPlayerFiles" : false,
  "audioChannels" : 2,
  "crafting.filterHaveMaterials" : false,
  "useDefaultWorldCoordinate" : false,
  "sfxVol" : 100,
  "allowAdminCommands" : true,
  "authPort" : 21027,
  "attemptAuthentication" : false,
  "sampleRate" : 44100,
  "clearUniverseFiles" : false,
  "audioChannelSeparation" : [ -25, 25 ],
  "serverPasswords" : [ "", "duckies", "swordfish" ],
  "defaultWorldCoordinate" : "alpha:-84936662:-62554636:-13754701:6:12",
  "musicVol" : 100,
  "claimFile" : "indev.claim",
  "maximized" : true,
  "windowTitle" : "Starbound - Beta",
  "vsync" : true,
  "renderSleep" : true,
  "passwordHash" : "",
  "renderPriority" : true,
  "waitForUpdate" : true
}